.App-header {
    background-color: #3e3e57;
    
   
  }

.x{
   font :bolder;
   font-weight: 8000	;

   text-align: center;
   font-stretch: ultra-expanded;

   color:white;
   background-color:rgb(43, 42, 42);
   float: right;
   font-weight: 110000	;
   font-stretch: ultra-expanded;
  
}
.y{
   font :bolder;
   font-weight: 8000	;

   text-align: center;
   font-stretch: ultra-expanded;

   color:white;
   background-color:rgb(148, 148, 148);
   float: center;
   font-weight: 110000	;
   font-stretch: ultra-expanded;
  
}
  
 .welcome{
  
    font :bolder;
    text-align: left;
    color:rgb(55, 176, 212);
    float: left;
    font-weight: 110000	;
    font-stretch: ultra-expanded;
   
 }

 .sidebar{
   background-color:rgb(39, 37, 37);
   font :bolder;
   text-align: right;
   color:rgb(242, 240, 252);
   float: right;
   font-weight: 110000	;
   font-stretch: ultra-expanded;
  
}

.y{
   font :bolder;
   font-weight: 8000	;

   text-align: center;
   font-stretch: ultra-expanded;

   color:white;
   background-color:rgb(148, 148, 148);
   float: center;
   font-weight: 110000	;
   font-stretch: ultra-expanded;
  
}


.search{
   color:rgb(6, 7, 7);
}
 .welcome2{
    font :bolder;
    text-align: left;
    color:rgb(6, 7, 7);
    float: left;
    font-weight: 900	;
    font-stretch: ultra-expanded;
   
 }

 input:placeholder-shown { border: 5px solid red; }

 .alignleft {
	float: left;
}

#small-box::placeholder {
    transform: translateY(-40px);
  }